body {
	background: -webkit-linear-gradient(to right, #ccc, #555);
	background: linear-gradient(to right, #ccc, #555);
}

.nigriti {
	font-weight: bold;
}

.Backg {
	background-image: url('../img/Trello.jpg') !important;
	background-repeat: no-repeat !important ;
	background-repeat: cover !important ;
}